{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h3>{{ contrato.objetoContrato }}</h3>
    <h4 class="text-muted">ID: {{ contrato.idContrato }}</h4>

    {% for c in informacao %}
    <div class="table-responsive mt-4">
        <table class="table table-bordered table-light table-striped">
            <tbody>
                <tr>
                    <th>Preço Contratual (€)</th>
                    <td>{{ c.precoContratual }}</td>
                </tr>
                <tr>
                    <th>Prazo de Execução</th>
                    <td>{{ c.prazoExecucao }}</td>
                </tr>
                <tr>
                    <th>Centralizado</th>
                    <td>{{ c.centralizado }}</td>
                </tr>
                <tr>
                    <th>Fundamentação</th>
                    <td>{{ c.fundamentacao }}</td>
                </tr>
                <tr>
                    <th>Vendedor</th>
                    <td>
                        <a href="/vendedores/{{ c.idVendedor }}/" class="text-decoration-none">{{ c.vendedor }}</a>
                    </td>
                </tr>
                <tr>
                    <th>Cliente</th>
                    <td>
                        <a href="/clientes/{{ c.idCliente }}/" class="text-decoration-none">{{ c.cliente }}</a>
                    </td>
                </tr>
                <tr>
                    <th>País, Distrito, Município</th>
                    <td>
                        {% if c.pais == c.distrito and c.distrito == c.municipio %}
                            <a href="/pais/distritos/municipios/{{ c.idMun }}/" class="text-decoration-none">{{ c.municipio }}</a>
                        {% else %}
                            <a href="/pais/{{ c.idPais }}/" class="text-decoration-none">{{ c.pais }}</a>, 
                            <a href="/pais/distritos/{{ c.idDist }}/" class="text-decoration-none">{{ c.distrito }}</a>, 
                            <a href="/pais/distritos/municipios/{{ c.idMun }}/" class="text-decoration-none">{{ c.municipio }}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Acordo</th>
                    <td>{{ c.acordo }}</td>
                </tr>
                <tr>
                    <th>Tipo de Procedimento</th>
                    <td>{{ c.tp }}</td>
                </tr>
                <tr>
                    <th>Tipo de Contrato</th>
                    <td>{{ c.tc }}</td>
                </tr>
                <tr>
                    <th>CPV</th>
                    <td>{{ c.cpv }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endfor %}

</div>

{% endblock %}
