{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2 class="mb-4">Contratos Públicos dos Primeiros Dois Meses de 2024</h2>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Contratos</th>
                <th>Vendedores</th>
                <th>Clientes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ stats.n_contratos }}</td>
                <td>{{ stats.n_vendedores }}</td>
                <td>{{ stats.n_clientes }}</td>
            </tr>
        </tbody>
    </table>
    <div class="text-center mt-4">
        <img src="static/BD_Relacional2.drawio.jpg" class="image-below" alt="Modelo Relacional">
    </div>
    <style>
        .image-below {
            width: 1100px; 
            margin-top: 30px; 
            margin-left: -40px; 
        }
    </style>
{% endblock %}
