{% extends 'base.html' %}

{% block content %}

<div class="container my-4">
    <h1 class="mb-4">Clientes</h1>

    <form method="get" action="/clientes/" class="mb-4 d-flex align-items-center">
        <label for="clientes" class="form-label me-2 mb-0">Buscar Cliente:</label>
        <input type="text" id="clientes" name="idCliente" class="form-control me-2 w-25" placeholder="Digite o ID do cliente">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    <form method="get" action="/clientes/" class="mb-4 d-flex align-items-center">
        <label for="clientes" class="form-label me-2 mb-0">Buscar Cliente:</label>
        <input type="text" id="clientes" name="nomeClientes" class="form-control me-2 w-25" placeholder="Digite o nome do cliente">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    <div class="table-responsive">
        <table class="table table-bordered table-striped text-center">
            <thead class="table-light">
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Nome</th>
                    <th class="text-center">NIF</th>
                    <th class="text-center">Número de Contratos</th>
                </tr>
            </thead>
            <tbody>
                {% for c in clientes %}
                <tr>
                    <td>
                        <a href="/clientes/{{ c.idCliente }}/" class="text-decoration-none">{{ c.idCliente }}</a>
                    </td>
                    <td>{{ c.designacao }}</td>
                    <td>{{ c.nif }}</td>
                    <td>{{ c.n_contratos }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
