{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h1>{{ pais.nome }}</h1>
    <h4 class="text-muted">ID: {{ pais.idPais }}</h4>

    <div class="position-relative my-4">
        <img src="{{ caminho_imagem }}" alt="Bandeira de {{ pais.nome }}" class="image-right">
        <audio id="audioPlayer" autoplay>
            <source src="{{ url_for('static', filename='musicas/' + pais.nome.replace(' ', '_') + '.mp3') }}" type="audio/mpeg">
        </audio>
        <button id="audioControl" onclick="toggleAudio()">Pausar</button>
    </div>

    <style>
        .image-right {
            float: right;
            margin-left: 50px;
            max-width: 300px;
            border: 2px solid #ddd;
            border-radius: 5px;
            margin-top: 67px;
        }

        #audioControl {
            display: inline-block;
            background-color: #0d6efd;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        #audioControl:hover {
            background-color: blue;
        }
    </style>

    <script>
        function toggleAudio() {
            const audio = document.getElementById('audioPlayer');
            const button = document.getElementById('audioControl');

            if (audio.paused) {
                audio.play();
                button.textContent = 'Pausar';
            } else {
                audio.pause();
                button.textContent = 'Reproduzir';
            }
        }
    </script>

    <div class="table-responsive mt-4">
        <table class="table table-striped table-bordered table-light">
            <thead class="table-light text-center">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Número de Municípios</th>
                </tr>
            </thead>
            <tbody>
                {% for d in distritos %}
                <tr>
                    <td class="text-center">
                        <a href="/pais/distritos/{{ d.idDist }}/" class="text-decoration-none">{{ d.idDist }}</a>
                    </td>
                    <td>{{ d.nome }}</td>
                    <td class="text-center">{{ d.n_municipios }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
