{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h1>{{ vendedor.designacao }}</h1>
    <h4 class="text-muted">ID: {{ vendedor.idVendedor }}</h4>

    <div class="table-responsive mt-4">
        <table class="table table-striped table-bordered table-light">
            <thead class="table-light text-center">
                <tr>
                    <th>ID</th>
                    <th>Objeto</th>
                    <th>Data de Publicação</th>
                    <th>Data de Celebração</th>
                </tr>
            </thead>
            <tbody>
                {% for c in contratos %}
                <tr>
                    <td class="text-center">
                        <a href="/contratos/{{ c.idContrato }}/" class="text-decoration-none">{{ c.idContrato }}</a>
                    </td>
                    <td>{{ c.objetoContrato }}</td>
                    <td class="text-center">{{ c.dataPublicacao }}</td>
                    <td class="text-center">{{ c.dataCelebracao }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
